@import './../../utils/mixins.scss';
@import './../../utils/variables.scss';

.task-tracker {
  transition: var(--transition-bg);
  transition-duration: var(--transition-duration);
  background-color: var(--bg-color);
}
