@import './../../utils/mixins.scss';
@import './../../utils/variables.scss';

.timer {
  margin: 0;
  margin-bottom: 20px;

  @include onTablet {
    margin-bottom: 70px;
  }

  &__face {
    text-align: center;
    font-size: 94px;
    font-weight: 300;
    margin: 0;

    @include onTablet {
      font-size: 140px;
    }
  }
}
