@import './../../utils/mixins.scss';
@import './../../utils/variables.scss';

.wave {
  --height-crest: 50px;
  --animation-play-state: paused;

  position: absolute;
  z-index: -100;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-color: inherit;

  &--pouring {
    --animation-play-state: running;
  }

  &--focus-break {
    --animation-color: pourColorFocusBreak var(--animation-duration) linear
      forwards;
  }

  &--focus-rest {
    --animation-color: pourColorFocusRest var(--animation-duration) linear
      forwards;
  }

  &--break-focus {
    --animation-color: pourColorBreakFocus var(--animation-duration) linear
      forwards;
  }

  &--rest-focus {
    --animation-color: pourColorRestFocus var(--animation-duration) linear
      forwards;
  }

  &__wrapper {
    position: relative;
    height: 100%;
  }

  &__glass {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column-reverse;
  }

  &__glass-in {
    position: relative;

    &--pour-in {
      animation: pourHightIn var(--animation-duration) linear forwards
        var(--animation-play-state);
    }

    &--pour-out {
      animation: pourHightOut var(--animation-duration) linear forwards
        var(--animation-play-state);
    }
  }

  &__crest {
    position: absolute;
    left: 0;
    transform: translateX(-30%);
    width: 120%;
    height: calc(var(--height-crest) * 2);
    border-radius: 50%;
    animation:
      waveMove1 5s linear infinite alternate,
      var(--animation-color) var(--animation-play-state);

    &:nth-child(2) {
      animation:
        waveMove1 5s linear 3s infinite alternate,
        var(--animation-color) var(--animation-play-state);
    }
    &:nth-child(3) {
      animation:
        waveMove2 5s linear infinite alternate,
        var(--animation-color) var(--animation-play-state);
      transform: translateX(50%);
    }
    &:nth-child(4) {
      animation:
        waveMove2 5s linear 2s infinite alternate,
        var(--animation-color) var(--animation-play-state);
      transform: translateX(50%);
    }
  }

  &__air {
    height: var(--height-crest);
    width: 100%;
    background-color: inherit;
  }

  &__liquid {
    width: 100%;
    height: 100%;

    animation: var(--animation-color) var(--animation-play-state);
  }
}

@keyframes waveMove1 {
  0% {
    transform: translateX(-30%);
  }
  100% {
    transform: translateX(30%);
  }
}

@keyframes waveMove2 {
  0% {
    transform: translateX(50%);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes pourHightIn {
  0% {
    height: var(--height-crest);
  }

  100% {
    height: 100%;
  }
}

@keyframes pourHightOut {
  0% {
    height: 100%;
  }

  100% {
    height: var(--height-crest);
  }
}

@keyframes pourColorFocusBreak {
  0% {
    background-color: $focus-wave-color;
  }

  100% {
    background-color: $break-wave-color;
  }
}

@keyframes pourColorFocusRest {
  0% {
    background-color: $focus-wave-color;
  }

  100% {
    background-color: $rest-wave-color;
  }
}

@keyframes pourColorRestFocus {
  0% {
    background-color: $rest-wave-color;
  }

  100% {
    background-color: $focus-wave-color;
  }
}

@keyframes pourColorBreakFocus {
  0% {
    background-color: $break-wave-color;
  }

  100% {
    background-color: $focus-wave-color;
  }
}
