@import './../../utils/mixins.scss';

.header {
  box-sizing: border-box;
  padding: 20px;
  width: 100%;
  margin: 0 auto;

  @include onTablet {
    max-width: 600px;
  }

  @include onDesktop {
    max-width: 1020px;
  }
}

.logo {
  display: flex;
  align-items: center;
}

.img {
  display: flex;
  width: fit-content;
  height: fit-content;
  background-color: #fffefe;
  padding: 6px;
  border-radius: 90px;
}

.text {
  color: #370000;
  font-size: 20px;
  font-weight: 500;
  display: block;
}
