$tablet-width: 744px;
$desktop-width: 1024px;

$animation-duration: 200ms;

$focus-wave-color: #e7875f;
$break-wave-color: #c33f2e;
$rest-wave-color: #ac5348;
$main-bg-color: #ffd9c9;

$main-cell-opacity: 0.6;
$active-cell-opacity: 0.9;
$completed-cell-opacity: 0.4;

$main-cell-color: rgba(255, 255, 255, $main-cell-opacity);
$active-cell-color: rgba(255, 255, 255, $active-cell-opacity);
$completed-cell-color: rgba(205, 205, 205, $completed-cell-opacity);

$medium: 500;
$regular: 400;

$z-index-hidden: -500;
