.footer {
  width: fit-content;
  margin: 10px auto;
}

.list {
  display: flex;
  gap: 10px;
}

.item {
  display: flex;
  gap: 10px;

  &:not(:last-child)::after {
    content: '';
    border-left: 1px solid black;
    height: 100%;
  }
}

.link {
  display: flex;
  padding: 5px;

  &Git {
    color: black;
    align-items: end;
    line-height: 100%;
  }
}

.img {
  height: 30px;
  max-width: 100%; 
  max-height: 100%;
}



