@import './utils/normalize.css';
@import './utils/mixins.scss';
@import './utils/variables.scss';

body {
  font-family: 'Roboto', sans-serif;
  background-color: $main-bg-color;
  min-width: 320px;
  width: 100vw;
}

a {
  text-decoration: none;
}

fieldset {
  border: none;
}

.app {
  box-sizing: border-box;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  min-height: 100vh;
  width: 100vw;
}

[class$='__container'] {
  box-sizing: border-box;
  padding: 20px;
  width: 100%;
  margin: 0 auto;

  @include onTablet {
    max-width: 600px;
  }
}

.main {
  position: relative;

  --bg-color: #{$focus-wave-color};
  --transition-duration: #{$animation-duration};

  --transition-bg: all ease-in;
}

.button {
  border-radius: 16px;
  width: fit-content;
  height: fit-content;
}

.cell {
  --icon-size: 20px;

  border-radius: 14px;
  background-color: $main-cell-color;

  display: grid;
  grid-template-columns: var(--icon-size) 1fr var(--icon-size);
  gap: 10px;
  padding: 15px;
  align-items: center;

  @include hover {
    background-color: $active-cell-color;
  }

  @include onTablet {
    --icon-size: 30px;
  }
}
